*data/arm/dataset/dataset_1000.pt filter=lfs diff=lfs merge=lfs -text
data/arm/dataset/screenshots/*.png filter=lfs diff=lfs merge=lfs -text
data/arm/dataset/screenshots/*.png filter=lfs diff=lfs merge=lfs -text
data/arm/dataset/screenshots/*.png filter=lfs diff=lfs merge=lfs -text
