*data/arm/dataset/*.pt filter=lfs diff=lfs merge=lfs -text
data/arm/dataset/screenshots/*.png filter=lfs diff=lfs merge=lfs -text
data/beam/dataset/*.pt filter=lfs diff=lfs merge=lfs -text
data/beam/dataset/screenshots/*png filter=lfs diff=lfs merge=lfs -text
